---
import { GlobalIcons } from "@assets/icons";
---

<a
  href="https://calendly.com/nestorarce068/nueva-reunion/2025-06-27T10:45:00-04:00?month=2025-06&_x_tr_hist=true&date=2025-06-27&fbclid="
  class="form-button group mx-auto flex w-fit cursor-pointer items-center justify-between gap-2 rounded-full bg-gradient-to-r from-[#de3f0d] to-[#ea0c0c] px-6 py-3 text-sm font-bold text-white uppercase shadow-[0_0_25px_rgba(234,12,12,0.6)] transition-transform duration-300 hover:scale-105 dark:from-[#dc2626] dark:to-[#ef4444]"
>
  Quiero unirme
  <GlobalIcons.Arrow
    customClass="size-8 group-hover:rotate-90 transition-duration duration-300"
  />
</a>
