---
import { GlobalIcons } from "@assets/icons";
---

<button
  data-tf-popup="roUllQU2"
  data-tf-iframe-props="title=Mi formulario de registro"
  data-tf-medium="snippet"
  id="open-typeform"
  class="primary-button group mx-auto flex cursor-pointer items-center justify-between gap-2 rounded-full bg-gradient-to-r from-[#de3f0d] to-[#ea0c0c] px-4 py-2 text-sm font-bold text-white uppercase transition-transform duration-300 hover:scale-105 md:px-6 md:py-3 dark:from-[#dc2626] dark:to-[#ef4444]"
>
  Quiero unirme
  <GlobalIcons.Arrow
    customClass="size-8 group-hover:rotate-90 transition-duration duration-300"
  />
</button>

<script type="module">
  document.addEventListener("DOMContentLoaded", () => {
    localStorage.removeItem("typeform_submitted");

    const btn = document.getElementById("open-typeform");

    const alreadySubmitted = localStorage.getItem("typeform_submitted");

    if (alreadySubmitted) {
      // Redirigir directamente a Calendly
      window.location.href = "https://calendly.com/tu-usuario?from=typeform";
      return;
    }

    const waitForTypeform = () => {
      if (window.typeformEmbed && btn) {
        const popup = window.typeformEmbed.makePopup(
          "https://form.typeform.com/to/roUllQU2",
          {
            mode: "popup",
            autoClose: 0,
            hideHeaders: true,
            hideFooters: true,
            onSubmit: () => {
              // Marcar como completado
              localStorage.setItem("typeform_submitted", "true");

              // Redirigir a Calendly en nueva pestaña
              window.open(
                "https://calendly.com/arcenestor068/nueva-reunion?from=typeform",
              );
            },
          },
        );

        btn.addEventListener("click", () => popup.open());
      } else {
        setTimeout(waitForTypeform, 100);
      }
    };

    waitForTypeform();
  });
</script>
