<button
  id="theme-button"
  class="bg-primary/20 dark:text-dark-text-primary fixed right-4 bottom-4 rounded-full px-4 py-2 backdrop-blur-md"
>
  Cambiar tema
</button>

<script src="/src/scripts/ToggleTheme.ts"></script>
