---
import PrimaryButton from "@components/PrimaryButton.astro";
---

<style>
  .shadow-frame {
    box-shadow: 0 0px 24px var(--vsl-shadow-frame);
  }
</style>

<section class="container mx-auto px-4">
  <h1
    class="[&>span]:dark:text-dark-primary [&>span]:text-light-primary mx-auto max-w-[1080px] text-center text-3xl text-balance text-black md:text-4xl lg:text-5xl dark:text-white"
  >
    Cómo perder hasta <span>12 kilos de grasa</span>, eliminar tu panza y ganar
    músculo en <span>90 días</span>
  </h1>

  <p
    class="text-light-text-secondary dark:text-dark-text-secondary mt-2 mb-10 text-center text-xl text-balance max-lg:text-lg"
  >
    Sin pasar hambre y aunque tengas poco tiempo
  </p>

  <div
    class="shadow-frame relative mx-auto mb-14 max-w-[1080px] overflow-hidden rounded-2xl shadow-lg dark:shadow-[0_12px_24px_rgba(255,255,255,0.05)]"
  >
    <iframe
      class="aspect-video w-full rounded-lg"
      src="https://www.youtube.com/embed/AfkT1K7ICRU?modestbranding=1&autoplay=0&mute=1"
      title="MÉTODO CRONOFIT90"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; autoplay"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen></iframe>
  </div>

  <PrimaryButton />
</section>
